*{
    padding: 0px;
    margin: 0px;
    color: rgb(0, 0, 0);
}
header{
    background-color: blueviolet;
}

#logo{
    color:goldenrod;
    margin-left: 50px;
}
div{
    background-color: rgb(0, 0, 0);
    height: 50px;
}
a{
    margin-right: 190px;
    color: aliceblue;
    text-decoration: none;
}
input{
    margin-left: -60px;
}
button{
    background-color: goldenrod;
    color: white;
    
}
#div1{
    height: 200px;
    width: 200px;
    background-image: url("/unnamed.png");
    background-size: cover;
    color: aliceblue;
    text-align: center;
    text-decoration: double;
    position: fixed;
    right: 0px;
    
}

